.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  img {
    width: 300px;
    height: 180px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
    object-fit: cover; 
    object-position: center;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: var(--text-color);
    transition: transform 200ms ease-in-out;
  }

  a:hover {
    transform: scale(1.05);
  }
}

.projectsContainer {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 40px;
}

.carouselTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 30px;
  padding: 10px 0;
}

.carouselItem {
  flex: 0 0 auto;
  width: 300px;
}

.carouselNav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  z-index: 10;
}

.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}

@media (width >= 800px) {
  .projectsContainer {
    max-width: 950px;
    padding: 0 50px;
  }
}